div.amazonfeed
, div.amazonfeed h1
, div.amazonfeed h2
, div.amazonfeed h3
, div.amazonfeed h4
, div.amazonfeed h5
, div.amazonfeed h6
, div.amazonfeedwidget
, div.amazonfeedwidget h1
, div.amazonfeedwidget h2
, div.amazonfeedwidget h3
, div.amazonfeedwidget h4
, div.amazonfeedwidget h5
, div.amazonfeedwidget h6
{
	margin: 0;
	padding: 0 0 6px 0;
	width: 100%;
	height: auto;
	float: left;
}

div.amazonfeed div, div.amazonfeedwidget div {
	display: block;
	text-indent: 0;
	position: relative;
	margin: 4px 0 6px 10px;
	float: left;
	font-size: 1em;
	width: 80px;
}
div.amazonfeedwidget div {
	width: 100%;
}

div.amazonfeed div a, div.amazonfeedwidget div a {
	position: relative;
	margin: 0;
	padding: 4px 10px 0px 0px;
	text-decoration: none;
	display: block;
	clear: both;
	width: 74px;
}
div.amazonfeedwidget div a {
	width: auto;
}

div.amazonfeed div a img, div.amazonfeedwidget div a img {
	display: block;
	position: relative;
	margin: 0 10px 10px 0;

}
div.amazonfeedwidget div a img {
	float: left;
	display: inline;
}

div.amazonfeed div .amazonfeed-product-title, div.amazonfeedwidget div .amazonfeed-product-title {
	text-align: left;
}

.clear {
	width: 100%;
	
}
div.amazonfeed div a.readmorelink, div.amazonfeedwidget div a.readmorelink {
	display: inline;
}
